name: Postman Collection Workflow

on:
  push:
    branches: [ main ]
  workflow_dispatch:       # allows manual trigger
  schedule:
    - cron : 30 02 * * *     #this is 8 am IST 
    - cron : 00 14 * * *     #this is 7.30 pm IST
    - cron : 00 06 * * 1-5   #this is IST Monday to Friday

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest 

    steps:
      - name: checkout the code
        uses: actions/checkout@v6-beta

      - name: Install Nodejs and npm
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '22'

      - name: Install newman and Html-extra globally
        run: |
              npm install -g newman
              npm install -g newman-reporter-htmlextra

      - name: Run the Postman Collection with newman
        run: |
              newman run 'Inwarranty-flow Collection Copy.postman_collection.json' \
              -e QA.postman_environment.json \
              -d testData.csv \
              -r cli,htmlextra \
              --reporter-htmlextra-export ./newman/index.html

      - name: Newman Report
        if: always() # ensure that the archive executed irrespective whether the previous test are passed or not.
        uses: actions/upload-artifact@v5.0.0
        with:
            name: Newman Report
            path: newman/*.html

      - name: Creating github page branch
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with: 
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: newman/

      - name: Send Email Notification
        if: always()
        uses: dawidd6/action-send-mail@v6
        with: 
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Phoenix Inwarranty Flow CI Test Execution Notification
          to: pathakbhushan1991@gmail.com
          from: ${{ secrets.EMAIL_USERNAME }}
          body: |
                Hi, Bhushan Pathak
                Phoenix Inwarranty Flow Test Execution has been executed. The report has been published and the URL :
                https://bbhushan11.github.io/Phoenix-Inwarranty-Flow/
          
          
          
          
        
      
        
      
  
